<button class="btn btn-success">New restaurant</button>

 <div class="panel panel-default">
   <!-- Default panel contents -->
   <div class="panel-heading">THE BEST OF {{food}}</div>

   <!-- Table -->
   <table class="table">
     <thead>
       <tr>
         <th>#</th>
         <th>Restaurant</th>
         <th>Rating</th>
         <th></th>
         <th></th>
       </tr>
     </thead>
     <tbody>
       <tr ng-repeat="r in ratings">
         <th scope="row">{{r.RestaurantID}}</th>
         <td>{{r.FoodID}}</td>
         <td>{{r.Rating}}</td>
         <td><button type="button" class="btn btn-primary">Edit</button></td>
         <td><button type="button" class="btn btn-danger">Delete</button></td>
       </tr>
     </tbody>
   </table>
</div>
