                    <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">THE BEST OF >getFOOD<</div>

                    <!-- Table -->
                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Restaurant</th>
                          <th>Rating</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td><button type="button" class="btn btn-primary">Edit</button></td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td></td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
